* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    background: #6f3636;
}

header h1 {
    text-align: center;
    padding-top: 10px;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header ul li {
    margin: 10px 20px;
}

li a {
    color: black;
}

li a:hover {
    color: gray;
}

main {
    display: flex;
    justify-content: space-between;
    background-color: #bc6060;
}

aside {
    background-color: #a05050;
    width: 20%;
}

#filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div h2 {
    padding: 10px;
}

aside div input {
    height: 30px;
    margin-bottom: 20px;
}

aside ul {
    list-style-type: none;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul li {
    margin: 5px;
}

#lista-de-vinhos {
    display: flex;
    justify-content: space-around;
}

.vinho {
    width: 200px;
    height: 500px;
    margin: 30px;
    padding: 10px;
    background-color: red;
    border: 3px solid rgba(0, 0, 0, 0.304);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main div article img {
    width: 200px;
    height: 300px;
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

main div article button {
    width: 150px;
    height: 40px;
    background-color: rgb(184, 183, 183);
    border-radius: 5px;
    cursor: pointer;
}

main div article button:hover {
    background-color: rgb(129, 128, 128);
}

footer {
    background-color: #a05050;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 20px;
}