* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-attachment: fixed
    overflow-x hidden;
}

main {
    flex: 1;
}

header {
    background: #390404;
}

header h1 {
    text-align: center;
    padding-top: 10px;
    color: white;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header ul li {
    margin: 10px 20px;
}

li a {
    color: white;
}

li a:hover {
    color: #D4AF37;
    font-size: 17px;
}

main {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#390404, #250202, #1b0202);
}

aside {
    background: linear-gradient(#390404, #250202, #1b0202);
    width: 20%;
}

#filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div h2 {
    padding: 10px;
    color: white
}

aside div input {
    height: 30px;
    margin-bottom: 20px;
}

aside ul {
    list-style-type: none;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul li {
    margin: 5px;
    color: white    ;
}

#lista-de-vinhos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;          
    gap: 20px;
    margin: 0 auto;   
}

.vinho {
    width: 200px;
    height: 500px;
    margin: 30px;
    padding: 10px;
    background: linear-gradient(to bottom right, #4B0F25, #D46A6A);
    border: 2px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.vinho  h3{
    color: white
}
.preco{
    color: white
}
main div article img {
    width: 200px;
    height: 300px;
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

main div article button {
    width: 150px;
    height: 40px;
    background-color: #F2C6B4;
color: #4B0F25; /* vinho escuro */
    border-radius: 5px;
    cursor: pointer;
}

main div article button:hover {
    background-color: rgb(17, 71, 11);
    width: 175px;
    font-size: 15px;
    color: white;
}

footer {
    background-color:#1b0202;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 20px;
    color: white
}