*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
h1{
    background-color: #6f3636;
    color: #fff;
    text-align: center;
}
body{
    background: #000000; 
}
#container{
    display: flex;
    flex-direction: column; 
    min-height: 100vh; 
}
header{
    background: #6f3636;
    color:#fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
   
}
header nav ul li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
}
header nav ul li a:hover{
    text-decoration: underline 5px rgb(255, 137, 137); 
}
#conteudo{
    display: grid; /*TRANSFORMA UM ELEMENTO EM UM CONTAINER DE GRADE, ORGANIZADO OS ELEMENTOS EM LINHAS E COLUNAS*/
    grid-template-columns: 1fr 200px; /*DIVIDE EM UMA COLUNA  COM 1 FRAÇÃO DE LARGURA E 200px de ALTURA*/
    gap:20px; /*ESPAÇAMENTO ENTRE OS ELEMENTOS DE 20PX*/
    
}
aside{
    width: 300px;
    padding: 20px;
    background-color: #9b7c7c;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

/*ELEMENTO MAIN*/
main{
    display: flex;/*DEIXA O CONTEUDO UM DO LADO DO OUTRO FLEXIVEL*/
    flex-wrap: wrap; /*PERMITE QUE OS ITEMS FLEXIVEIS QUEBREM DE LINHA SE NÃO HOUVER ESPAÇO NA MESMA LINHA */
    justify-content: center; /*JUSTIFICA O CONTEUDO AO CENTRO*/

}
/*CLASS PRODUTO*/
.produto{
    width: 200px;/*LARGURA de 200px*/
    height: 400px; /*ALTURA de 400px*/
    margin: 20px;/*MARGEM EM TODOS OS LADOS DE 20px*/
    padding: 20px;/*ESPAÇAMENTO INTERNO EM TODOS OS LADOS DE 20px*/
    border: 1px solid #000000;/*CRIA UMA BORDA COM 1px de ESPESSURA COM A COR CINZA*/
    background-image: linear-gradient(#6e0000,#a05050,#9b7c7c);/*FAZ UM DEGRADE NO FUNDO DO CARD*/
    color:#fff;/*COR DA FONTE*/
    border-radius: 30px;/* DEIXA O CARD COM AS BORDAS ARRENDODAS*/
}
/*CLASS PRODUTO E ELEMENTO IMG*/
.produto img{
    max-width: 100%;/* MAXIMO DE LARGURA DA IMAGEM*/
    height: auto;/* ALTURA AUTOMATICA, MAS PODE COLOCAR EM PX EX: 400px*/
    margin-bottom: 10px;/*MARGEM INFERIOR DE 10PX*/
}
/*CLASS PRECO*/
.preco{
    font-weight: 700;/*DEIXAR O TEXTO EM NEGRITO*/
    margin-top: 50px;/*ESPAÇO SUPERIOR DE 50PX*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
    font-size: 1.7rem;/*TAMANHO DA FONTE DE 1.7 -Rem é uma unidade de medida relativa em CSS que se baseia no tamanho da fonte do elemento raiz da  página */
}
/*ELEMENTO BUTTON*/
button{
    background: rgb(143, 28, 28);/*COR DO FUNDO*/
    margin-top: 30px;/*MARGEM SUPERIOR DE 30px*/
    padding: 15px 45px;/*ESPAÇAMENTO DE 15PX (SUPERIOR e INFERIOR) E 45px ( DIREITA e ESQUERDA)*/
    border-radius: 20px;/*DEIXA OS CANTOS DAS BORDAS ARRENDODAS*/
    cursor: pointer;/*AO COLOCAR O MOUSE EM CIMA DO BOTÃO VIRA UMA MÃOZINHA*/

}

/*ELEMENTO BOTTOM COM EFEITO*/
button:hover{
    background: #964545;/*COR DO FUNDO*/
    color:rgb(255, 255, 255);/*COR DA FONTE*/
}